<p id="notice" class="text-center"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @document.titulo %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= get_categoria(@document.categoria) %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @document.descripcion %>
</p>

<%= link_to 'Editar', edit_document_path(@document) %> |
<%= link_to 'Volver', documents_path %> |
<%= link_to 'Generar PDF',  @document.archivo.url, target: '_blank' %>
