<div class="container ">
  <div class="col-md-offset- col-md-4">
    <h2 class="text-center">Iniciar sesión</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Ingresar", class:'btn btn-danger form-control' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
  </div>
</div>
